/*
Filename:           stylesheet_main.css
For:                index.html

COLORS:
from: https://yeun.github.io/open-color/ 
> #748ffc - Main color - INDIGO
> #ced4da - Light Gray (4)
> #adb5bd - Light Gray (5)
> #868e96 - Light Gray (6)
*/
/********************************************************************************
Global Settings
*********************************************************************************/
  * {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  /* Scroll bar from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888; 
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }

  h1, h2, h3, h4, h5, h6, p { 
      color: #868e96;
    }

  body, html { margin: 0; max-width: 100%; overflow-x: hidden; }

  /* Button */
  button {
    background-color: #748ffc;         
    border: 2px solid #748ffc;         
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    text-decoration: none;
    outline: none !important;
   }
    button:hover {
        background-color: white;
        color: #748ffc;                     
        border: 2px solid #748ffc;          
    }
  ::-moz-selection { /* Code for Firefox */
    color: white;
    background: #748ffc
  }

  ::selection {
    color: white;
    background: #748ffc;
  }

/********************************************************************************
Full Page Wrapper
*********************************************************************************/
  .page-wrapper { margin: auto; }

/********************************************************************************
Social Icon bar Wrapper
*********************************************************************************/
/* Vertical icons */  
.social-bar { 
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
   }
    .social-bar a { 
        display: block;
        padding: 5px 0;
        color: #adb5bd;     
    }
      .social-bar a:hover {
        color: #868e96;         
      }
   /* Vertical lines */
  .vl { 
      height: 150px; 
      border-left: 2px solid #ced4da;   
      margin-left: 15px;
      
    }

/********************************************************************************
Navigation bar Wrapper
*********************************************************************************/
  /* Nav links */
  .nav-item a { 
      color: #748ffc;           
    }
    .nav-item a:hover { 
        text-decoration: underline; 
    }
    /* Style for link that represents page */
    #navbar-curr { 
        font-weight: bold; 
    }
  /* Resume button */
  #navbar-resume-btn {
    background-color: #748ffc;         
    border: 2px solid #748ffc;         
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    text-decoration: none;
   }
    #navbar-resume-btn:hover {
        background-color: white;
        color: #748ffc;                     
        border: 2px solid #748ffc;          
    }
  /* Nav bar when collapse only */
  #navbarToggler { padding: 15px; }
  #navbarToggler li { padding-bottom: 15px; }

/********************************************************************************
Content Wrapper
*********************************************************************************/
  #content { text-align: center; }

/* Introduction box */    
    .c-intro { padding-top: 85px; padding-bottom: 125px; }

      .c-intro h1 { 
          font-size: 50px; 
          font-weight: 300;
        }
      #cHeader1-font1 { 
        color:#748ffc;  
        font-size: 50px;
        font-weight: 400;
      }
      .c-intro h2 { 
        font-size: 30px; 
        font-weight: 300;
      }
      #cHeader2-font1 { 
        color:#748ffc;  
        font-size: 30px; 
        font-weight: 300;
      }
/* About me box */
    .c-aboutMe { margin: auto; padding-bottom: 125px; }

      .c-aboutMe h4 { color: #748ffc;}
/* My interest box */
    #c-interest { margin: auto; }

      #c-interest h4 { color: #748ffc; }
      #interest-open { cursor: pointer ;}
      #i-outbox { padding: 5px; position: relative; }
      #i-boxes { padding-top: 10px; margin: auto; width: 80%; }
      #i-boxes #i-box {
        text-align: center;
        height: 350px;
        padding: 0px;
        color: white;
      }
      /* 
      Image overlay from:
      https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade
      (EDITED)
      */
      .i-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #748ffcad;
        background-color: rgba(116, 143, 252, 0.68);  /* For IE & Edge */
      }
      #i-box:hover .i-overlay { opacity: 1; }
      .i-text { 
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }

/********************************************************************************
Modal
*********************************************************************************/
  .modal {  }       /* Move modal down */
  .modal i { color: #748ffc; }
  .modal h5 { font-weight: 700; color: black;}
  .modal h6 { font-weight: 600; font-size: 14px; color: black; padding: 5px; margin: 0; }
  .modal p { font-size: 14px; padding-left: 5px; }
  .modal-body { text-align: left; }
  .modal-body i { font-size: 0.6rem; }
  /********************************************************************************
Footer
*********************************************************************************/  
  .footer { 
      width: 100%;
      padding: 10px;
      text-align: center;
  }
    .footer i { color: #748ffc; }
    .footer i:hover { color: #868e96; }
    
/********************************************************************************
404 Page
*********************************************************************************/
  #err_wrapper {
    margin-top: 150px;
    text-align: center;
  }
    #err_wrapper h1 { 
      font-size: 200px;
      font-weight: 700;
    }
    #err_wrapper h2 { 
      font-weight: 400;
      font-size: 25px;
    }
    #err_wrapper button {
      padding: 15px 35px;
      border-radius: 3px;
    }

/********************************************************************************
Projects Page
*********************************************************************************/
/* Projects content */
  #projects-content .c-intro-2 h1 { 
    text-align: center; 
    padding-top: 85px; 
    padding-bottom: 125px;
    font-size: 50px; 
    font-weight: 300;
  }
  .project-box { 
    margin: auto; 
  }
  .project-box h2 { 
    margin: 0; 
    font-weight: 400;
    font-size: 20px;
    color: #748ffc;
  }
  .project-box p { 
    padding: 0; 
    margin: 0; 
  }
  #p-outbox { 
    padding: 5px; 
    position: relative; 
    height: 350px;
    background-color: #4c6ef5ce;
    background-color: rgba(76, 110, 245, 0.81); /* For IE & Edge */
  }
  #p-boxes { padding-top: 10px; margin: auto; width: 80%; }
  #p-boxes #p-box {
    height: 350px;
    padding: 0px;
    color: white;
  }
  /* Default overlay */
  .p-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
  }
  /* Hover overlay */
  .p-overlay-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #4c6ef5;
  }
  #p-box:hover .p-overlay { opacity: 0; }
  #p-box:hover .p-overlay-2 { opacity: 1; }
  .p-text { 
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #p-padding { padding-bottom: 85px; }

/********************************************************************************
Animations from animista.net
*********************************************************************************/
.slide-in-bottom{-webkit-animation:slide-in-bottom 2s cubic-bezier(.25,.46,.45,.94) 1s both;animation:slide-in-bottom 2s cubic-bezier(.25,.46,.45,.94) 1s both}
@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(100px);transform:translateY(100px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(100px);transform:translateY(100px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

.slide-in-bottom-2{-webkit-animation:slide-in-bottom-2 2.5s cubic-bezier(.25,.46,.45,.94) 1s both;animation:slide-in-bottom-2 2.5s cubic-bezier(.25,.46,.45,.94) 1s both}
@-webkit-keyframes slide-in-bottom-2{0%{-webkit-transform:translateY(100px);transform:translateY(100px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom-2{0%{-webkit-transform:translateY(100px);transform:translateY(100px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

.slide-in-bottom-d{-webkit-animation:slide-in-bottom-d 2s cubic-bezier(.25,.46,.45,.94) 1.5s both;animation:slide-in-bottom-d 2s cubic-bezier(.25,.46,.45,.94) 1.5s both}
@-webkit-keyframes slide-in-bottom-d{0%{-webkit-transform:translateY(100px);transform:translateY(100px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom-d{0%{-webkit-transform:translateY(100px);transform:translateY(100px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

.slide-in-bottom-d2{-webkit-animation:slide-in-bottom-d2 2.5s cubic-bezier(.25,.46,.45,.94) 1.5s both;animation:slide-in-bottom-d2 2.5s cubic-bezier(.25,.46,.45,.94) 1.5s both}
@-webkit-keyframes slide-in-bottom-d2{0%{-webkit-transform:translateY(100px);transform:translateY(100px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom-d2{0%{-webkit-transform:translateY(100px);transform:translateY(100px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}

.slide-in-blurred-top{-webkit-animation:slide-in-blurred-top 1.5s cubic-bezier(.23,1.000,.32,1.000) both;animation:slide-in-blurred-top 1.5s cubic-bezier(.23,1.000,.32,1.000) both}
@-webkit-keyframes slide-in-blurred-top{0%{-webkit-transform:translateY(-1000px) scaleY(2.5) scaleX(.2);transform:translateY(-1000px) scaleY(2.5) scaleX(.2);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes slide-in-blurred-top{0%{-webkit-transform:translateY(-1000px) scaleY(2.5) scaleX(.2);transform:translateY(-1000px) scaleY(2.5) scaleX(.2);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}

.rotate-center:hover{-webkit-animation:rotate-center .6s ease-in-out both;animation:rotate-center .6s ease-in-out both}
@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}

.jello-horizontal:hover {-webkit-animation:jello-horizontal .9s both;animation:jello-horizontal .9s both}
@-webkit-keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}

.fade-in-social{-webkit-animation:fade-in-social 1.2s cubic-bezier(.39,.575,.565,1.000) 2.7s both;animation:fade-in-social 1.2s cubic-bezier(.39,.575,.565,1.000) 2.7s both}
@-webkit-keyframes fade-in-social{0%{opacity:0}100%{opacity:1}}@keyframes fade-in-social{0%{opacity:0}100%{opacity:1}}


.slide-in-left{-webkit-animation:slide-in-left 2s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-left 2s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-100px);transform:translateX(-100px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-100px);transform:translateX(-100px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

/********************************************************************************
Responsive queries
*********************************************************************************/
  /* Extra small devices (phones, 575px and down) */
  @media only screen and (max-width: 575px) {
    .page-wrapper { max-width: 95%;}
    .navbar img { margin-bottom: 0; } 
    .social-bar { display: none;}
    #navbarToggler { background-color: #ced4da2c; } /* Gray 4 transparent */
    .c-aboutMe { width: 90%; }
    #i-boxes { width: 100%;}
    #i-boxes #i-box { height: 250px; }
    #err_wrapper { margin-top: 100px; }
    #err_wrapper h1 { font-size: 125px; }
    #err_wrapper button { padding: 10px 25px; }
  }

  /* Extra small devices (phones, 576px and up) */
  @media only screen and (min-width: 576px) {
    .page-wrapper { max-width: 95%; }
    .c-aboutMe { width: 80%; }
    #i-boxes { width: 90%;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .page-wrapper { max-width: 95%;}
    .c-aboutMe { width: 70%; }
    #i-boxes { width: 70%;}
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .page-wrapper { max-width: 90%;}
    .c-aboutMe { width: 70%; }
    #i-boxes { width: 90%; }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .page-wrapper { max-width: 90%;}
    .c-aboutMe { width: 60%; }
  }

  .modal-body .col-1 {  }
  .modal-body .col-10 {   padding: 0; }