/****************************************
Global Settings
*****************************************/
* {
    font-size: 16px;
}
/****************************************
Root Variables
*****************************************/
:root {
    --main-color: #748ffc;                 /* Main color - INDIGO */
}

/****************************************
Navigation bar container 
*****************************************/
/* Nav links */
.nav-item a { color: var(--main-color); }
    .nav-item a:hover { text-decoration: none; }
    /* Style for link that represents page */
    #navbar-curr { text-decoration: underline; font-weight: bold; }

/* Resume button */
#navbar-resume-btn {
    background-color: white;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 3px;
    padding: 5px 10px;
    text-decoration: none;
}
    #navbar-resume-btn:hover {
        background-color: var(--main-color);
        border: 2px solid var(--main-color);
        color: white;
    }