/*
Filename:           stylesheet_main.css
For:                index.html

COLORS:
from: https://yeun.github.io/open-color/ 
> #748ffc - Main color - INDIGO
> #ced4da - Light Gray (4)
> #adb5bd - Light Gray (5)
> #868e96 - Light Gray (6)
*/
/********************************************************************************
Global Settings
*********************************************************************************/
  * {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  /* Scroll bar from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888; 
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }

  h1, h2, h3, h4, h5, h6, p { 
      color: #868e96;
    }

  body, html { 
    margin: 0; 
    max-width: 100%; 
    overflow-x: hidden; 
  }

  /* Button */
  button {
    background-color: #748ffca1; 
    background-color: rgba(116, 143, 252, 0.631);   
    border: 2px solid #748ffc;         
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    text-decoration: none;
    outline: none !important;
    transition: background-color 0.5s, color 0.5s;
    -webkit-transition: background-color 0.5s, color 0.5s;
   }
    button:hover {
        background-color: white;
        color: #748ffc;                       
    }
  ::-moz-selection { /* Code for Firefox */
    color: white;
    background: #748ffca1
  }

  ::selection {
    color: white;
    background: #748ffca1;
  }
  /* Universal top of section div header */
  .c-intro {
    padding: 100px 0;
  }
  
  /* Universal main-header */
  .uni-mainHeader {
    text-align: center; 
    font-weight: 300;
    font-size: 45px;
  }
  /* Universal sub-header */
  .uni-subHeader {
    font-size: 28px;
    color: #748ffc;  
  }

  /* Universal text area */
  .c-text {
    padding-top: 15px; 
    font-size: 16px;
  }  

/********************************************************************************
Full Page Wrapper
*********************************************************************************/
  .page-wrapper { 
    margin: auto;
  }

/********************************************************************************
Social Icon bar Wrapper
*********************************************************************************/
/* Vertical icons */  
.social-bar { 
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
   }
    .social-bar a { 
        display: block;
        padding: 5px 0;
        color: #adb5bd;   
        transition:  color 0.5s;
        -webkit-transition: color 0.5s;
    }
      .social-bar a:hover {
        color: #868e96;         
      }
    /* Vertical lines */
    .vl { 
        height: 150px; 
        border-left: 2px solid #ced4da;   
        margin-left: 15px;
        
    }

/********************************************************************************
Navigation bar Wrapper
*********************************************************************************/
  /* Nav links */
  .nav-item a { 
      color: #748ffc;           
    }
    .nav-item a:hover { 
        text-decoration: underline; 
    }
    /* Style for link that represents page */
    #navbar-curr { 
        font-weight: bold; 
    }
  /* Nav bar when collapse only */
  #navbarToggler { 
    padding: 15px; 
  }
    #navbarToggler li { 
      padding-bottom: 15px; 
    }

/********************************************************************************
About Me
*********************************************************************************/
  #content { 
    text-align: center; 
    padding: 0 75px;
   }
  .c-welcome {
    padding: 200px 0;
  }
/* Introduction box */    
    #cHeader1-font1 {
      font-size: 60px;
      font-weight: 300;
    }
    #cHeader1-font2 { 
      color:#748ffc;  
      font-size: 60px;
      font-weight: 300;
    }
    #cHeader2-font1 { 
      font-size: 35px; 
      font-weight: 300;
      padding-bottom: 50px;
    }
    #cHeader2-font2 { 
      color:#748ffc;  
      font-size: 35px; 
      font-weight: 300;
    }

    .cBtns { 
      width: 425px;
      height: 50px; 
      margin: auto;
      background-color: #748ffc50;
      background-color: rgba(116, 143, 252, 0.314);
      border-radius: 50px;
      padding: 7px 0;
      overflow: auto;
      
    }
      .cBtns::-webkit-scrollbar {
        width: 0px;                 /* Remove scrollbar space */
        background: transparent;  
      }
      .cBtn {  
        border-radius: 3px;
        background-color: #748ffc00;
        background-color: rgba(116, 143, 252, 0);
        border: 2px solid #748ffc00 !important;
        border: 2px solid rgba(116, 143, 252, 0) !important;
        color:#748ffc;
        font-weight: 600;
        font-size: 15px;
      }
        .cBtn:hover {
          background-color: #748ffc31;
          background-color: rgba(115, 142, 252, 0.192);
        }
/* About me box */
    .c-aboutMe {  
      padding: 115px 0; 
      text-align: left;
      width: 100%;
      border-top: 1px solid #748ffc;
    }
/* My Skills */
    .c-skill { 
      padding: 115px 0; 
    }
      .skill1{
        margin: auto;
        text-align: left;
      }
      .skill2 {
        text-align: left;
      }  
      #c-skill-2 {
        border-bottom: 1px solid #748ffc;
      }
      .skill-framew i { 
        color: #96f2d7 !important;
      }
      .skill-lang i { 
        color: #d0bfff !important;
      }
  
/********************************************************************************
Footer
*********************************************************************************/  
  .footer { 
      width: 100%;
      padding: 50px 10px 15px 10px;
      text-align: center;
  }
    .footer i { 
      color: #748ffcec; 
      color: rgba(116, 143, 252, 0.925); 
    }
    .footer i:hover { 
      color: #868e96; 
      cursor: pointer;
    }

/********************************************************************************
Projects Page
*********************************************************************************/
/* Projects content */
  .project-box { 
    margin: auto;
  }
    .project-box h2 { 
      margin: 0; 
      font-weight: 400;
      font-size: 20px;
    }
    .project-box p { 
      padding: 0; 
      margin: 0; 
    }
  .p-outbox { 
    padding: 5px; 
    position: relative; 
    height: 350px;
    background-color: #e9ecef;
  }
  #p-boxes { 
    padding-top: 10px;
     margin: auto; 
     width: 80%; 
    }
  #p-boxes #p-box {
    height: 350px;
    padding: 0px;
    color: white;
  }
  /* Default overlay */
  .p-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
  }
  /* Hover overlay */
  .p-overlay-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
  }
    #p-box:hover .p-overlay { 
      opacity: 0; 
    }
    #p-box:hover .p-overlay-2 { 
      opacity: 1; 
    }
  .p-text { 
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #p-padding { 
    padding-bottom: 100px; 
  }
  .p-overlay-2 .p-text button {
    cursor: not-allowed;
  }
  /*  Custom colours for 'Latest Projects' */
  /* -- HEADERS -- */
  #p-header-1 {
    color: #748ffc;
  }
  #p-header-2 {
    color: #9775fa;
  }

/********************************************************************************
Blog Page
*********************************************************************************/
#blog-content {
  text-align: center;
}
  #blog-content h2 {
    font-weight: 300;;
  }

/********************************************************************************
Contact Page
*********************************************************************************/
#contact-content {
  padding-bottom: 100px;
}
.contact-form-box {
  padding: 10px;
  margin: 0 auto;
}
  .form-input {
    padding: 10px;
  }
  .contact-form-box input[type=text], textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 16px;  
    color:#868e96;
    border: 2px solid #dee2e6;
    -webkit-transition: 0.5s;
    transition: 0.5s; 
  }
  .contact-form-box textarea {
    height: 200px;
    font-size: 16px;
  }
  .contact-form-box input[type=submit] {
    width: 100%;
    padding: 10px 0; 
    font-size: 16px;
    background-color: #748ffc;
    border: 2px solid #748ffc;
    color: white;
    outline: none;
    transition: background-color 0.5s, color 0.5s;
    -webkit-transition: background-color 0.5s, color 0.5s;
  }
    .contact-form-box input[type=submit]:hover {
      background-color: white;
      border: 2px solid #748ffc;
      color: #748ffc;
    } 
  .contact-form-box input[type=text]:focus, textarea:focus  {
    border: 2px solid #748ffc;
  }
  .contact-form-box input[type=text]:hover, textarea:hover  {
    border: 2px solid #748ffc;
  }
  /* Font color */
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#868e96;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#868e96;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color:#868e96;
  }

/********************************************************************************
404 Page
*********************************************************************************/
#err_wrapper {
  margin-top: 150px;
  text-align: center;
}
  #err_wrapper h1 { 
    font-size: 200px;
    font-weight: 700;
  }
  #err_wrapper h2 { 
    font-weight: 400;
    font-size: 25px;
  }
  #err_wrapper button {
    padding: 15px 35px;
    border-radius: 3px;
  }

/********************************************************************************
Animations from animista.net
*********************************************************************************/
.rotate-center:hover{-webkit-animation:rotate-center .6s ease-in-out both;animation:rotate-center .6s ease-in-out both}
@-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}

.jello-horizontal:hover {-webkit-animation:jello-horizontal .9s both;animation:jello-horizontal .9s both}
@-webkit-keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes jello-horizontal{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}40%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,.85,1);transform:scale3d(1.15,.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}

/********************************************************************************
Responsive queries
*********************************************************************************/
  /* For iPhone SE size phones */
  @media only screen and (max-width: 321px) {
    .contact-form-box { width: 270px !important; }
  }
  /* Extra small devices (phones, 575px and down) */
  @media only screen and (max-width: 499px) {
    .page-wrapper { max-width: 95%;}
    #content { padding: 0 10px; }
    .navbar img { margin-bottom: 0; } 
    .social-bar { display: none;}
    #navbarToggler { background-color: #ced4da2c; } /* Gray 4 transparent */
    .uni-mainHeader { font-size: 35px;}
    .uni-subHeader { font-size: 22px; }
    .c-welcome { padding: 100px 0; }
    #cHeader1-font1 { font-size: 35px; }
    #cHeader1-font2 { font-size: 35px; }
    #cHeader2-font1 { font-size: 25px; }
    #cHeader2-font2 { font-size: 25px; }
    .cBtns { width: 280px; }
    .c-aboutMe { padding: 50px 0; }
    .c-skill { padding: 50px 0; }
    #c-text-box { width: 100%; }
    .c-text { font-size: 18px; }
    #err_wrapper { margin-top: 100px; }
    #err_wrapper h1 { font-size: 125px; }
    #err_wrapper button { padding: 10px 25px; }
    .contact-form-box { width: 325px; }
  }

  /* Extra small devices (phones, 500px and up) */
  @media only screen and (min-width: 500px) and (max-width: 575px) {
    .page-wrapper { max-width: 95%; }
    #content { padding: 0 10px; }
    #navbarToggler { background-color: #ced4da2c; } /* Gray 4 transparent */
    .social-bar { display: none;}
    .c-welcome { padding: 100px 0; }
    #cHeader1-font1 { font-size: 50px; }
    #cHeader1-font2 { font-size: 50px; }
    #cHeader2-font1 { font-size: 30px; }
    #cHeader2-font2 { font-size: 30px; }
    .cBtns { width: 280px; }
    .c-aboutMe { padding: 50px 0; }
    .c-skill { padding: 50px 0; }
    #c-text-box { width: 80%; }
    .contact-form-box { width: 450px; }
  }

  /* Fix buggy contact form  */
  @media only screen and (min-width: 576px) and (max-width: 660px) {
    .contact-form-box { width: 450px !important; }
  }
  
  /* Medium devices (landscape tablets, 576px and up) */
  @media only screen and (min-width: 576px) and (max-width: 991px) {
    .page-wrapper { max-width: 95%;}
    #cHeader1-font1 { font-size: 50px; }
    #cHeader1-font2 { font-size: 50px; }
    #cHeader2-font1 { font-size: 30px; }
    #cHeader2-font2 { font-size: 30px; }
    .c-aboutMe { padding: 75px 0; }
    .c-skill { padding: 75px 0; }
    #c-text-box { width: 70%; }
    .contact-form-box { width: 550px; }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .page-wrapper { max-width: 90%;}
    #c-text-box { width: 60%; }
    .contact-form-box { width: 750px; }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .contact-form-box { width: 850px; }
  }